numpy
pytest
openssh 
gxx_linux-64
gcc_linux-64 
cmake 
make 
docker-pycreds 
git 
xo
python-json-logger 
python
glibmm 
glib
libxml2 
libxmlpp 
libblas 
libcblas
liblapack 
pkg-config 
coincbc
boost-cpp 
hdf5 
sqlite 
pcre 
gettext 
bzip2 
xz
setuptools 
nose 
pytables 
pandas 
jinja2 
cython
websockets 
pprintpp